* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  /* overflow: hidden; */
  /* background-color: black; */
}
.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
}
.background-image {
  background: url("./assets/background2.jpg");
  filter: blur(2px);
  opacity: 0.9;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar section  */

.logo img {
  height: 60px;
  z-index: 1;
}
.logo img:hover {
  filter: drop-shadow(2px 2px 4px white);
}
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 3px solid #f1f1f1;
  box-shadow: 2px 2px 4px whitesmoke;
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 5px;
}

.nav-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
}

.nav-item {
  list-style: none;
  margin: 1rem;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  position: relative;
  transition: all 0.3s ease;
  z-index: 999;
}
.nav-item a {
  text-decoration: none;
}
.nav-container,
.nav-content,
.nav-item a,
.nav-content button {
  text-align: center;
  color: white;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.nav-item:hover {
  cursor: pointer;
  border-bottom: 3px solid white;
}

.nav-content button {
  border: none;
  padding: 1rem;
  margin-left: 1rem;
  transition: all 0.3s ease;
}

.nav-content button a {
  text-decoration: none;
  font-size: medium;
  font-weight: 600;
  color: black;
}

.nav-content button:hover {
  border-radius: 0.65rem;
  cursor: pointer;
}

/* Responsive navbar */

@media (max-width: 1024px) {
  .nav-item {
    margin: 0.4rem;
    font-weight: 400;
  }
  .nav-content {
    font-size: 1rem;
  }
  .nav-content button {
    padding: 0.6rem;
    border: 1.5px solid black;
  }
  .nav-content button a {
    font-size: small;
    font-weight: 500;
  }
  .logo img {
    height: 50px;
  }
}
.fa-regular,
.far {
  font-weight: 800 !important;
}
/* Mobile Navbar  */
.mobile-nav {
  display: none;
  /* margin-right: 1rem; */
  font-size: 2rem;
}
.mobile-nav:hover {
  cursor: pointer;
  color: rgb(97, 197, 255);
}
.transition {
  transform: translateX(-250px);
}
.mobile-nav-content {
  position: fixed;
  top: 60px;
  right: 0px;
  /* transform: translateX(-200px); */
  height: 100vh;
  width: 250px;
  z-index: 99;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(87, 86, 86, 0.459);
  /* backdrop-filter: blur(2px); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: none;
  transition: all 0.3s ease;
}

.mobile-nav-content button {
  border: none;
  padding: 0.7rem;
  margin-left: 0.5rem;
  transition: all 0.3s ease;
  z-index: 999;
  border: 1.5px solid black;
}
.mobile-nav-content button a {
  text-decoration: none;
  font-size: medium;
  font-weight: 600;
  color: black;
  z-index: 999;
}

.mobile-nav-content button:hover {
  border-radius: 0.65rem;
  cursor: pointer;
}
.mobile-nav-cancel {
  font-size: 2rem;
  position: absolute;
  top: 0.6rem;
  right: 1.7rem;
}
.mobile-nav-cancel:hover {
  cursor: pointer;
  color: red;
}
@media (max-width: 768px) {
  .image img {
    height: 100vh;
  }
  .nav-content {
    display: none;
  }
  .nav-item {
    margin: 1rem;
    font-weight: 600;
  }
  .nav-container {
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
  .mobile-nav {
    display: block;
  }
}
@media (max-width: 400px) {
  .mobile-nav-content {
    width: 100%;
  }

  .nav-item {
    margin: 1.2rem;
  }
}

/* Header Section  */
.hero-section {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  color: white;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.hero-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.hero-intro h1 {
  font-size: 7rem;
  margin: 1rem;
  padding: 0 1rem;
  /* font-family: "DM Serif Display", serif; */
  font-family: "Lobster", sans-serif;
  font-weight: 500;
  border-radius: 0.65rem;
  font-style: normal;

  background-color: rgba(46, 46, 46, 0.2);
  filter: drop-shadow(3px 3px 3px gray);
}
.hero-intro h2 {
  font-family: "Amiri", serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgba(46, 46, 46, 0.2);
  filter: drop-shadow(2px 2px 2px white);
  margin: 0.8rem;
  text-align: center;
  border-radius: 0.65rem;
  padding: 0 0.8rem;
}
.para p {
  margin: 0.5rem;
  font-size: 1.2rem;
  font-family: "Playwrite NG Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: rgba(46, 46, 46, 0.2);
  filter: drop-shadow(2px 2px 2px white);
  border-radius: 0.65rem;
  padding: 0 0.8rem;
  text-align: center;
}

.hero-section .button {
  border: none;
  padding: 1rem;
  margin-top: 1rem;
  transition: all 0.3s ease;
  border: 1.5px solid black;
}

.hero-section .button a {
  text-decoration: none;
  font-size: medium;
  font-weight: 600;
  color: black;
}

.hero-section .button:hover {
  border-radius: 0.65rem;
  cursor: pointer;
}

/* RESPONSIVE HERO SECTION  */

@media (max-width: 1024px) {
  .hero-section h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0 0.5;
  }

  .hero-section h2 {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
  }
  .hero-section .button {
    font-size: 0.7rem;
  }
  .hero-section .button a {
    padding: 0.6rem;
  }
  .para p {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 3rem;
    padding: 0;
  }

  .hero-section h2 {
    font-size: 1rem;
  }
  .hero-section .button {
    font-size: 0.5rem;
  }
  .hero-section .button a {
    padding: 0;
    font-size: 0.8rem;
  }
  .hero-section .button {
    padding: 0.5rem;
  }
  .para p {
    font-size: 0.8rem;
    margin: 0;
  }
}

@media (max-width: 375px) {
  .hero-section h1 {
    font-size: 2.5rem;
  }

  .hero-section h2 {
    font-size: 0.95rem;
  }
  .hero-section .button a {
    font-size: 0.75rem;
  }
  .para p {
    font-size: 0.6rem;
  }
  .hero-intro {
    margin: 0 0.5rem;
  }
}

/* FEATURED COCKTAIL SECTION */
.heading-h1 {
  text-align: center;
  font: 2rem;
  margin: 1rem;
  padding: 0.5rem;
  color: black;
  background-color: rgb(255 225 225 / 51%);
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
/* .featured-section {
  background-color: rgba(241, 241, 241, 0.671);
} */
.featured-section,
.feature-image-section,
.feature-info-section {
  display: flex;
}
.feature-image-section,
.feature-info-section {
  flex-direction: column;
}
.feature-image-section {
  text-align: center;
}
.image-slideshow {
  max-width: 80%;
  position: relative;
  margin: 1rem;
  margin: auto;
}

.image img {
  /* filter: blur(2px); */
  opacity: 1;
  width: 60%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.65rem;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}
.feature-info-section h1,
.feature-info-section h1 span {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.feature-info-section h1 {
  font-size: 6rem;
  color: greenyellow;
  filter: drop-shadow(2px 2px 2px gray);
  margin: 0.5rem;
}
.feature-info-section h1 span {
  color: rgb(255, 115, 138);
  font-style: italic;
}

.featured-button {
  margin: 1rem;
  border: none;
  padding: 1rem;
  width: 200px;
  background-color: rgba(218, 248, 172, 0.836);
  transition: all 0.3s ease;
  border: 1.5px solid black;
}

.featured-button a {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(255, 115, 138);
  font-weight: 600;
}

.featured-button:hover {
  border-radius: 0.65rem;
  cursor: pointer;
}

.feature-info-section p {
  font-size: 1.2rem;
  margin: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* RESPONSIVE FEATURED SECTION */
@media (max-width: 1440px) {
  .feature-info-section h1 {
    font-size: 5rem;
  }
}
@media (max-width: 1024px) {
  .feature-info-section h1 {
    font-size: 4rem;
    margin: 0.3rem;
  }
  .featured-button {
    padding: 0.5rem;
  }
}

@media (max-width: 768px) {
  .image img {
    width: 50%;
  }
  .feature-info-section h1 {
    font-size: 2.95rem;
  }
  .featured-section {
    flex-direction: column;
  }
  .feature-info-section {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .feature-info-section h1 {
    font-size: 2rem;
  }
}

/* Menu Section */
.menu-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.17);

  background-color: rgba(0, 0, 0, 0.027);
}
.menu-sidebar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-sidebar h3 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin: 0 auto;
  background-color: rgba(255, 253, 253, 0.719);
}
.filter-item {
  list-style: none;
  margin: 0 auto;
}
.filter {
  margin: 0 auto;
  width: 90%;
}
.filter button {
  margin: 0.6rem;
  padding: 0.6rem;
  min-width: 100%;
  font-size: 1.2rem;
  background-color: white;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  transition: all 0.3s ease;
  filter: drop-shadow(2px 2px 3px black);
}
.filter button:hover {
  cursor: pointer;
  border-radius: 0.65rem;
}
.filter button.active {
  background-color: greenyellow;
}
.menu-item.hide {
  display: none;
}
.menu-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding-top: 3rem;
  height: 90vh;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.feature-info-section .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content h3 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  text-align: center;
  font-style: normal;
}
.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  border: 2px solid black;
  background-color: white;

  /* filter: drop-shadow(1px 1px 2px black); */
  transition: all 0.3s ease;
}
.menu-item.hide {
  display: none;
}
.content img {
  height: 200px;
  width: 100%;
  margin: 0.5rem 0.2rem;
  filter: drop-shadow(2px 2px 3px black);
}

.price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.4rem;
  border-top: 1px solid black;
}
.price p,
.price span,
.price button {
  margin: 0.2rem;
  font-size: 0.8rem;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
#discount {
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
  color: black;
}
.price span {
  color: rgb(219, 69, 94);
  font-weight: 500;
  font-size: 1rem;
}
.price button {
  padding: 0.1rem 0.3rem;
  background-color: greenyellow;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.price button:hover {
  border-radius: 0.4rem;
}
.menu-content::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.menu-content::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
.menu-content::-webkit-scrollbar-thumb {
  background: greenyellow;
}

/* Handle on hover */
.menu-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.menu-item:hover {
  border-radius: 0.65rem;

  filter: drop-shadow(2px 2px 3px black);
}
.menu-content:hover > .price {
  border-bottom-left-radius: 0.65rem;
  border-bottom-right-radius: 0.65rem;
}
.menu-item .menu-content-info {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(255, 255, 255, 0.678);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.4s ease;
}
.menu-item:hover {
  cursor: pointer;
}
.menu-content-info:hover {
  opacity: 1;
  border-radius: 0.65rem;
}
.menu-content-info h1 {
  font-size: 1.2rem;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  text-align: center;
  font-weight: 700;
  font-style: normal;
}
.menu-content-info button {
  padding: 0.7rem;
  margin: 1rem 0.2rem;
  background-color: white;
  transition: all 0.3s ease;
}
.menu-content-info p {
  text-align: center;
}
.menu-content-info button:hover {
  background-color: greenyellow;
  cursor: pointer;
  border-radius: 0.65rem;
}
/* RESPONSIVE MENU  */
@media (max-width: 1024px) {
  .content {
    margin: 0.2rem;
  }
  .content img {
    height: 150px;
  }
  .menu-item {
    min-width: 150px;
  }
  .price span {
    font-size: 0.8rem;
  }
  .filter button {
    margin: 0.6rem;
  }
  .menu-sidebar {
    padding: 0.9rem;
  }
  .menu-sidebar h3 {
    font-size: 1rem;
    font-weight: 600;
  }
  .menu-content {
    padding: 0 0.6rem;
    padding-top: 1rem;
  }
}

@media (max-width: 768px) {
  .menu-container {
    flex-direction: column;
  }
  .menu-item {
    width: auto;
  }
  .menu-content {
    height: auto;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
  }
  .filter button {
    margin: 0;
    padding: 0;
    margin: 0.3em;
    min-width: 45%;
    font-weight: 500;
  }
  .menu-sidebar {
    width: 100%;
  }
  .filter {
    margin: 0 auto;
    width: auto;
  }
  .content img {
    height: 100px;
    margin: 0.5rem 0;
  }
  .content {
    margin: 0;
  }
  .price {
    margin-top: 0.2rem;
  }
  .price p,
  .price span,
  .price button {
    margin: 0.1rem;
    font-style: 0.7rem;
    font-weight: 400;
  }
  .content h3 {
    font-size: 1rem;
  }

  .menu-content-info h1 {
    font-size: 1rem;
    font-weight: 600;
  }
  .menu-content-info button {
    padding: 0.6rem;
    margin: 0.7rem 0.2rem;
  }
  .menu-content-info p {
    font-size: 0.8rem;
  }
}

@media (max-width: 340px) {
  .content img {
    height: 80px;
    margin: 0.2rem 0;
  }
  .menu-item {
    min-width: 90px;
  }
  .content h3 {
    font-size: 0.3rem;
  }
  .price p {
    font-size: 0.5rem;
    margin: 0.2rem 0;
  }
  .price span {
    font-weight: 400;
    font-size: 0.4rem;
  }
  #discount {
    font-size: 0.4rem;
  }
  .menu-content {
    gap: 0.3rem;
  }
  .menu-content-info h1 {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .menu-content-info button {
    padding: 0.2rem;
    margin: 0.2rem 0rem;
  }
  .menu-content-info p {
    font-size: 0.6rem;
  }
}
@media (max-width: 300px) {
  .filter button {
    width: 100%;
  }
  .hero-section h1 {
    font-size: 2rem;
  }
  .heading-h1 {
    font-size: 1.2rem;
    margin: 0;
  }
  .menu-content {
    gap: 0.2rem;
    padding-top: 0;
  }
  .menu-item {
    min-width: 80px;
  }
  .content img {
    height: 60px;
  }
  .menu-content-info h1 {
    font-size: 0.7rem;
    font-weight: 500;
  }
  .menu-content-info button {
    padding: 0.1rem;
    margin: 0.1rem 0rem;
  }
  .menu-content-info p {
    font-size: 0.4rem;
  }
}

/* REVIEWS SECTIONS */
.profile-image img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.rating-image img {
  width: 77px;
  height: 46px;
}
.slider-section {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0;
}

.slider-container {
  width: 90%;
  height: auto;
  margin: 1rem;
  overflow: hidden;
  border-radius: 8px;
}

.slider-content {
  display: flex;
  width: 210%;
  transition: transform 0.5s ease-in-out;
}

.review-card {
  min-width: 280px;
  height: 220px;
  box-shadow: 1px 1px 10px 0px #0000001a;
  border-radius: 10px;
  margin-right: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.heading .name-cus {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}
.review-card .prop {
  font-size: 14px;
  line-height: 1;
  color: #666;
}

.rating-image {
  margin-top: -15px;
  margin-left: -8px;
}
.review-card:last-child {
  margin-right: 0;
}
.flex-profile {
  display: flex;
  gap: 40px;

  align-items: center;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: none;
  transform: translateY(-50%);
  font-size: 40px;
  color: #555;
  background-color: transparent;
  border: none;
  padding: 10px;
  outline: none;
}

.prev {
  left: 20px;
}
.next {
  right: 20px;
}
@media (max-width: 425px) {
  .review-card {
    min-width: 50%;
  }
  .next {
    right: 5px;
  }
  .prev {
    left: 5px;
  }
  .next,
  .prev {
    font-size: 20px;
    padding: 0;
  }
}

@media (max-width: 400px) {
  .review-card .prop {
    font-size: 12px;
    line-height: 1.6;
    color: #666;
  }
}

/* Footer section */
.footer-section {
  background-color: rgba(0, 0, 0, 0.027);
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  align-items: center;
}
.footer-section h2 {
  font-size: 1.2rem;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  text-align: center;
  font-weight: 700;
  font-style: normal;
}
.footer-section img {
  height: 170px;
  filter: drop-shadow(4px 4px 4px white);
}
.footer-info {
  background-color: rgba(0, 0, 0, 0.014);
  width: 100%;
  border-top: 1px solid black;
  margin-top: 2px;
}
.footer-info p {
  width: 100%;
  padding: 0rem;
  font-size: 0.9rem;
  padding: 1rem;
  text-align: center;
  opacity: 0.7;
}
.footer-section span {
  color: greenyellow;
}
.link-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;
  margin: 0.4rem;
  gap: 1rem;
}
@media (max-width: 768px) {
  .footer-section img {
    height: 130px;
  }
  .footer-section h2 {
    font-size: 1rem;
  }
  .footer-info p {
    font-size: 0.8rem;
  }
}
@media (max-width: 425px) {
  .footer-section img {
    height: 100px;
  }
  .footer-section h2 {
    font-size: 0.8rem;
  }
  .footer-info p {
    font-size: 0.6rem;
  }
}
.link-section i {
  cursor: pointer;
}
